# .gitignore file for your config dir.
# An * ensures that everything will be ignored.
#*

# Whitelist files/folders
!*.yaml
!.gitignore
!*.md

# Ignore folders
.storage
.cloud
android
deps
tts
www/assets/
# Python cache
__pycache__


# Ignore files
ip_bans.yaml
secrets.yaml
known_devices.yaml
customize.yaml
http.yaml
groups.yaml
service_account.json
home-assistant.log
home-assistant_v2.db
__init__.py
*.google.token
*.xbox-token
*.HA_VERSION
*.log
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-shm
*.db-wal
*.html
*.pyc